h1, h3, p {
  text-align: center;
}

.centered {
  align-items: center;
}

#animal-div {
  max-width: 80%;
  border: 1px solid lightgrey;
  padding: 3em;
  margin-top: 2em;
}

#hippoImage {
  padding: 1em;
}

.btn {
  margin-top: .25em;
  /* margin-bottom: .25em; */
}

#stats {
  margin-top: 3em;
}
#name {
  margin-top: 1em;
}

#happinessResult {
  text-align: center;
  font-size: 1.5em;
  color: grey;
}